<div class="first-row d-flex justify-content-between pr-40 pl-40">
   <div class="btn-group">
     <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
       Job Title
     </button>
     <ul class="dropdown-menu">
       <li *ngFor="let jobTitle of uniqueJobTypes(tableData$ | async,'jobTitle')">
         <a class="dropdown-item" href="#" (click)="filterByField(jobTitle,'jobTitle')">{{ jobTitle }}</a>
       </li>
     </ul>
   </div>
   <div class="btn-group">
     <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
       Location
     </button>
     <ul class="dropdown-menu">
       <li *ngFor="let location of uniqueJobTypes(tableData$ | async,'location')">
        <a class="dropdown-item" href="#" (click)="filterByField(location, 'location')">{{ location }}</a>
      </li>
     </ul>
   </div>

   <div class="btn-group">
     <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
       Company
     </button>
     <ul class="dropdown-menu">
       <li *ngFor="let companyName of uniqueJobTypes(tableData$ | async,'companyName')">
        <a class="dropdown-item" href="#" (click)="filterByField(companyName, 'companyName')">{{ companyName }}</a>
      </li>
     </ul>
   </div>
   <div class="btn-group">
     <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
       Job Type
     </button>
     <ul class="dropdown-menu">
       <li *ngFor="let jobType of uniqueJobTypes(tableData$ | async,'jobType')">
         <a class="dropdown-item" href="#" (click)="filterByField(jobType, 'jobType')">{{ jobType }}</a>
       </li>
     </ul>
   </div>
 </div>

 <div class="reset-button">
   <button class="btn btn-danger" (click)="reset()">Reset All FIlters</button>
 </div>



 <div class="table-container">
 <table class="table table-light table-striped-columns">
    <thead>
      <tr>
        <th scope="col" *ngFor="let headerItem of headerRow" (click)="onSort(headerItem)">
          <div class="d-flex">
            <h5>{{ headerItem.header }}</h5>
  
            <div class="d-flex flex-column ms-2" *ngIf="headerItem.hasSort" >
              <i
                class="bi bi-caret-up-fill"
                [class.sort-header-active]="(sortDirection$ | async) === 'asc' && headerItem.key === (sortKey$ | async)"
              >
              </i>
              <i
                class="bi bi-caret-down-fill"
                [class.sort-header-active]="(sortDirection$ | async) === 'desc' && headerItem.key === (sortKey$ | async)"
              >
              </i>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData$ | async">
        <td>{{ dateConverter(row.createdon)}}</td>
        <td>{{ row.companyName }}</td>
        <td>{{ row.jobTitle }}</td>
        <td>{{ row.jobType }}</td>
        <td>{{ row.location}}</td>
        <td>{{ row.description}}</td>
      </tr>
    </tbody>
  </table> 