 <div class="forms">


   <!-- <mat-form-field appearance="fill" style="font-size: 28px" aria-placeholder="Choose Location">
        <mat-select (selectionChange)="someMethod($event.value)">
            <mat-option *ngFor="let row of tableData$ | async" [value]="row.location">
              {{row.location}}
            </mat-option>
          </mat-select>
      </mat-form-field> -->

   <!-- <mat-form-field appearance="fill" style="font-size: 28px" aria-placeholder="Choose Location">
        <mat-select (selectionChange)="someMethod2($event.value)">
            <mat-option *ngFor="let row of tableData$ | async" [value]="row.companyName">
              {{row.companyName}}
            </mat-option>
          </mat-select>
      </mat-form-field> -->

   <!-- <mat-form-field appearance="fill" style="font-size: 28px" aria-placeholder="Choose Location">
        <mat-select (selectionChange)="someMethod2($event.value)">
            <mat-option *ngFor="let row of tableData$ | async" [value]="row.companyName">
              {{row.companyName}}
            </mat-option>
          </mat-select>
      </mat-form-field> -->
 </div>

 <div class="first-row d-flex justify-content-between pr-40 pl-40">
   <div class="btn-group">
     <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
       Job Title
     </button>
     <ul class="dropdown-menu">
       <li *ngFor="let row of tableData$ | async">
         <a class="dropdown-item" href="#" (click)="filterByField(row.jobTitle,'jobTitle')">{{ row.jobTitle }}</a>
       </li>
     </ul>
   </div>
   <div class="btn-group">
     <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
       Location
     </button>
     <ul class="dropdown-menu">
       <li *ngFor="let row of tableData$ | async">
         <a class="dropdown-item" href="#" (click)="filterByField(row.location,'location' )">{{ row.location }}</a>
       </li>
     </ul>
   </div>

   <div class="btn-group">
     <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
       Company
     </button>
     <ul class="dropdown-menu">
       <li *ngFor="let row of tableData$ | async">
         <a class="dropdown-item" href="#"
           (click)="filterByField(row.companyName, 'companyName')">{{ row.companyName }}</a>
       </li>
     </ul>
   </div>
   <div class="btn-group">
     <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
       Job Type
     </button>
     <ul class="dropdown-menu">
       <li *ngFor="let row of tableData$ | async">
         <a class="dropdown-item" href="#" (click)="filterByField(row.jobType, 'jobType')">{{ row.jobType }}</a>
       </li>
     </ul>
   </div>
 </div>

 <div class="reset-button">
   <button class="btn btn-danger" (click)="reset()">Reset All FIlters</button>
 </div>

 <div class="container mt-2">
   <div class="row row-cols-1 row-cols-md-3 g-4">
     <div class="col" *ngFor="let row of tableData$ | async">
       <div class="card">
         <div class="card-body">
           <h5 class="card-title job-title">{{ row.jobTitle }}, {{row.location}}</h5>
         </div>
         <ul class="list-group list-group-flush">
           <li class="job-title list-group-item">
             <h6>{{ row.jobType }}</h6>
           </li>
           <li class="job-title list-group-item">
             <h6>{{ row.companyName }}</h6>
           </li>
           <li class="list-group-item">{{ row.description }}</li>
         </ul>
       </div>
     </div>
   </div>
 </div>
