.search-form {
    width: 100%;
}

.header {
    padding: 15px;
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.search-form input{
    width: 60%;
}

.search-form button{
    margin-left: 25px;
}

.first-row {
    padding: 5px 35%;
}