<h1 class="header"> Job Listings </h1>
<div class="col-3 mx-auto">
  <div class="mb-3">
    <input
      [formControl]="searchControl"
      type="search"
      class="form-control"
      id="search"
      placeholder="Search..."
      aria-describedby="filter"
    />
    <img class="image_add" src="/assets/add.png" (click)="openDialog()">
  </div>
</div>

<ng-container *ngIf="(data$ | async) as data; let error">
<app-data-table [data]="data" [headerRow]="headerRow"></app-data-table>
</ng-container>
