<h1 class="header"> Job Listings </h1>

<div class="col-3 mx-auto">
  <div class="mb-3">
    <input
      [formControl]="searchControl"
      type="search"
      class="form-control"
      id="search"
      placeholder="Search..."
      aria-describedby="filter"
    />
  </div>
</div>
<div class="first-row d-flex justify-content-between pr-40 pl-40">
  <div class="btn-group">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Job Title
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Menu item</a></li>
      <li><a class="dropdown-item" href="#">Menu item</a></li>
      <li><a class="dropdown-item" href="#">Menu item</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Location
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="#">Menu item</a></li>
      <li><a class="dropdown-item" href="#">Menu item</a></li>
      <li><a class="dropdown-item" href="#">Menu item</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static"
      aria-expanded="false">
      Job Type
    </button>
    <ul class="dropdown-menu dropdown-menu-lg-end">
      <li><a class="dropdown-item" href="#">Menu item</a></li>
      <li><a class="dropdown-item" href="#">Menu item</a></li>
      <li><a class="dropdown-item" href="#">Menu item</a></li>
    </ul>
  </div>
</div>

<div class="container mt-2">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let job of jobs$ | async">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ job.companyName }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ job.jobTitle }}, {{job.location}}</li>
          <li class="list-group-item">{{ job.description }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>