<h1 class="header"> Job Listings </h1>
<div class="col-3 mx-auto">
  <div class="mb-3">
    <input
      [formControl]="searchControl"
      type="search"
      class="form-control"
      id="search"
      placeholder="Search..."
      aria-describedby="filter"
    />
  </div>
</div>

<!-- <div class="forms">
  <mat-form-field appearance="fill" style="font-size: 28px" aria-placeholder="Choose Location">
      <mat-select (selectionChange)="someMethod($event.value)">
          <mat-option *ngFor="let row of data$ | async" [value]="row.location">
            {{row.location}}
          </mat-option>
        </mat-select>
    </mat-form-field>
</div> -->
<ng-container *ngIf="(data$ | async) as data; let error">
<app-data-table [data]="data" [headerRow]="headerRow"></app-data-table>
</ng-container>
