<div class="form-container">
    <form #addJobForm="ngForm" (ngSubmit)="onSubmit(addJobForm)" class="column-form">
    <h5>Add Job Form</h5>

      <div class="form-group">
        <label for="job-title">Job Title: </label>
        <input id="job-title" type="text" ngModel name="jobTitle">
      </div>
  
      <div class="form-group">
        <label for="Company">Company Name: </label>
        <input id="Company" type="text" ngModel name="companyName">
      </div>
  
      <div class="form-group">
        <label for="jobType">Job Type: </label>
        <input id="jobType" type="text" ngModel name="jobType">
      </div>
  
      <div class="form-group">
        <label for="location">Location Name: </label>
        <input id="location" type="text" ngModel name="location">
      </div>
  
      <div class="form-group">
        <label for="description"> Description: </label>
        <input id="description" type="text" ngModel name="description">
      </div>
  
      <button type="submit" class="btn btn-secondary"> Save Job</button>
    </form>
  </div>
  